 @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}

.container {
    width: 100%;
    height: 100vh; 
    background: linear-gradient(190deg, rgb(0, 0, 255), rgb(0, 234, 255),darkblue);
    align-items: center;
    justify-content: left;
    padding: 150px 60px;
    color: white;
    transition: ease 1s;
}

.container h1 {
    font-size: 3rem;
    font-weight: 900;
}

.container h1 span {
    color: darkgreen;
    border-bottom: 5px solid darkgreen;
}

.display {
    background: white;
    width: 600px;
    height: 70px;
    margin-top: 40px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
     border-radius: 7px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 1.5rem;
}

.container button {
    padding: 20px 50px;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: darkgreen;
    color: rgb(255, 255, 255);
    transition:ease 0.5s;
    cursor: pointer;
}

.container button:hover {
    background: rgb(9, 61, 9);
    color: black;
}

@media (max-width:720px) {
    
.container h1 {
    font-size: 2.5rem;
}

.display {
    width: 500px;
}

}
@media (max-width:600px) {
    
.container h1 {
    font-size: 2rem;
}

.display {
    width: 350px;
    height: 60px;
}
.container button {
    padding: 16px 70px;
    font-size: 1.2rem;
}
}
